* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.main-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
